@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    scroll-behavior: smooth;
}

body{
    margin: 0;

}



.backgroundAnimation{
    animation: zoom-in-out 10s ease infinite;

}


@keyframes zoom-in-out {
    0%,100%{
        transform: scale(1);

    }
    50%{
        transform: scale(1.2);
    }
    
}

.anime{
    text-align: center;
    font-size: 30px;
    height: 8rem;
    border-radius: 9px;
    padding: 2rem;
    width: 35rem;
    margin: 5rem auto;
    
}

.images{
    display: inline-block;
    
}

.images>div{
    width: 40rem;
    height: 14rem;
    margin: 4rem auto;
}

.logo>img{
    width: 40rem;
}

.louvre{
    background-image: url('./images/louvre2.webp');
    background-size: cover;


}

.garnier{
    background-image: url('./images/operaGarnier.jpeg');
    background-size: cover;


}

.theatre{
    background-image: url('./images/theatre.webp');
    background-size: cover;
    

}

.confrence{
    background-image: url('./images/confrence.jpeg');
    background-size: cover;

}

.speaker{
    background-image: url('./images/speaker.jpeg');
    background-size: contain;

}



.hidden{
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);

}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

img{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}



.logo:nth-child(2){
    transition-delay: 200ms;
}

.logo:nth-child(3){
    transition-delay: 400ms;
}

.logo:nth-child(4){
    transition-delay: 600ms;
}



.myNav .icon {
    display: none;
  }

/*responsive navbar*/
@media screen and (max-width: 600px) {
    .myNav a:not(:first-child) {display: none;}
    .myNav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .myNav.responsive {position: relative;}
    .myNav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .myNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }